#mainContainer{
    background-color: wheat;
    padding-top: 4em;
    padding-bottom: 4em;
}

#mainEditorContainer{
    background-color: rgb(131, 194, 233);
    padding-top: 4em;
    padding-bottom: 4em;
}

#mainLoginContainer{
    background-color: antiquewhite;
    padding-top: 4em;
    padding-bottom: 4em;
}

#mainSinupContainer{
    background-color: rgb(215, 245, 250);
    padding-top: 4em;
    padding-bottom: 4em;
}

#mainCartContainer{
    background-color: rgb(215, 245, 250);
    padding-top: 4em;
    padding-bottom: 4em;
}

#logoutButton{
    float: right;
}

.logoutButtonContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card-container{
    background-color: whitesmoke;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.card{
    margin: 2em 2em;
}

.btn{
    margin: 0.5em;
}

input{
    margin-bottom: 2em !important;
}

.bottom-margin{
    margin-bottom: 2em;
}

#profilePicture{
    height: 80px;
    padding: 8px;
    border-radius: 30%;
    width:auto;
}